S3_BUCKET=<your bucket name>
SNS_TOPIC_ARN=<your SNS topic arn>
MAILGUN_SIGNING_KEY=<your Mailgun signing key>
S3_REGION=<S3 region if S3 bucket is in different region to the lambda> #You don't need to set this if your lambda is in the same region as the S3 bucket>
SNS_REGION=<SNS region if SNS topic is in different region to the lambda> #You don't need to set this if your lambda is in the same region as the SNS topic>
